<div class="container">
  <h2 class="mb-3"><span class="text-success">Search</span> Github</h2>
  <form [formGroup]="form">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" (input)="searchUsers($event)"  class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="username" >
    </div>
    <div class="form-errors" *ngIf="form.touched && form.invalid">
      <small class="text-danger">Please provide correct user</small>
    </div>
  </form>
  <div *ngIf="isLoadingRepos$ | async; else repo">
    <app-spinner></app-spinner>
  </div>
  <ng-template #repo>
  <div class="content" *ngIf="(repos$ | async) as repos">
    <ng-container *ngIf="repos.length > 0; else placeholder">
      <div class="content-repos list-group">
          <div class="list-group-item list-group-item-action" [class.active]="selectedItem === i" *ngFor="let repo of repos | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
            <app-repo (click)='selectedItem = i;' [repo]="repo" ></app-repo>
          </div>
          <pagination-controls *ngIf="repos.length > 0" (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="content-branches" *ngIf ='branches$ | async as branches ;else nobranch'>
        <div *ngIf="isLoadingBranches$ | async; else branch">
          <app-spinner></app-spinner>
        </div>
        <ng-template #branch>
          <app-branch [branches] = 'branches'></app-branch>
        </ng-template>
      </div>
      <ng-template #nobranch>
        <app-placeholder></app-placeholder>
      </ng-template>
    </ng-container>
    <ng-template #placeholder>
     <app-placeholder></app-placeholder>
    </ng-template>
  </div>
  </ng-template>
</div>

